OPENROUTER_API_KEY="sk-or-v1-SUA-CHAVE-AQUI"
ROUTER_SECRET_KEY="sua_chave_secreta_interna_aqui"
MODELS=["google/gemini-1.5-flash,anthropic/claude-3-haiku,meta-llama/llama-3-8b-instruct"]
MODEL_MARGIN="4"
OPENROUTER_PRESET="seu_preset_aqui"
ALLOWED_DOMAINS=["*"]

APP_NAME="API_LLM_Router"
APP_URL="https://github.com/MarcosVeniciu/API_LLM_Router.git"
